body {margin-top: 0;}
#navbar {display: flex;align-items: center;justify-content: space-between;background-color: rgb(225, 225, 225);height: 12.96vh;border-radius: 0px 0px 35px 35px;}
#welcome-text {padding-left: 50px;font-family: calibri;font-size: 40px;}
#nusantaralivelogo {align-items: end;padding-right: 50px;}
