body {margin-top: 0;}
#contact-button {display: flex;align-items: center;justify-content: center;position: fixed;bottom: 30px;right: 30px;background-color: aquamarine;width: 120px;height: 60px;border-radius: 40px;text-decoration: none;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: inherit;font-size: 25px ;}
#contact-button:hover {background-color: rgb(185, 255, 232);}
#socialmediabutton {display: flex;padding: 3px;align-items: center;gap: 3px;position: fixed;justify-content: ;bottom: 30px;left: 30px;background-color: darkblue;width: 200px;height: 25px;border-radius: 10px;}
#socialmediabutton a {display: flex;}
#socialmediabutton img {height: 20px;}
#socialmediabutton p {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: white;padding-left: 10px;}
#content {padding: 12.96vh 20px 0 20px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
#link-sept {text-decoration: none;color: inherit;cursor: pointer;}
#sept {display: flex;align-items: flex-start;background-color: rgb(190, 251, 255);border-radius: 35px;margin: 5px 0 0 0;padding: 20px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
#text-video h3{margin: 0 0 4px 10px;white-space: ; }
#text-video p{display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical ;overflow: hidden;margin: 0 0 0 10px}
#navbar {position: fixed;width: 100%;display: flex;align-items: center;justify-content: space-between;background-color: rgb(225, 225, 225);height: 12.96vh;border-radius: 0px 0px 35px 35px;}
#welcome-text {padding-left: 8vw;font-family: calibri;font-size: 4vw;}
#nusantaralivelogo {width: auto;height: auto;max height: 8px;align-items: end;padding-right: 8vw;height: 4vh;}
#button-container{height: 50px;width: 300px;border-radius: 10px;background-color: aquamarine;display: flex;align-items: center;justify-content: center;gap: 50px;margin: auto;}
.button {height: 40px;width: 80px;text-align: center;background-color: rgb(0, 222, 196);align-content: center;border-radius: 10px;color: inherit;text-decoration: none;}
.button:hover{opacity: 80%;}